*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 23px;
  font-weight: 600;
  width: 70%;
  margin: 0 auto;
}

header {
  height: 3em;
  background-color: #000;
  color: white;
  text-align: center;
  padding: 1em;
}

i {
  float: left;
}

hr {
  clear: both;
  background-color: lightgray;
  height: 1px;
  color: lightgray;
  border: none;
}
